<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/eurocop?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">euroc</property>
    <property name="hibernate.connection.password">euroc</property>
    <mapping resource="hibernate/Expert.hbm.xml"/>
    <mapping resource="hibernate/Panne.hbm.xml"/>
    <mapping resource="hibernate/Appareil.hbm.xml"/>
    <mapping resource="hibernate/Client.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
